<div class="container">
  <div class="row">
    
    <form [formGroup]="form" (submit)="createBike()">

        <fieldset>
          <legend>Add new bicycle</legend>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name"
              formControlName="name">
            <small id="emailHelp" class="form-text text-muted">Enter full bicycle title</small>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="3" placeholder="Enter description" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <label for="imageUrl">Image URL</label>
            <input class="form-control" id="imageUrl" placeholder="Enter image url" formControlName="imageUrl">
          </div>
          <div class="form-group">
            <label>Privacy Level</label>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" formControlName="privacyLevel" id="optionsRadios1"
                  value="Public" checked>
                Public
              </label>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" formControlName="privacyLevel" id="optionsRadios2"
                  value="Private">
                Private
              </label>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <div class="form-group">
            <label>Latitude</label>
            <input type="number" value="{{coordinates?.lat}}" formControlName="latitude">
            <label>Longitude</label>
            <input type="number" value="{{coordinates?.lng}}" formControlName="longitude">
            <app-google-map (markerClicked)="onMarked($event)"></app-google-map>
          </div>
          <button class="btn btn-primary">Create</button>
        </fieldset>
      </form>

  </div>
</div>
