<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="extended-top">LATEST ADDED</h3>
          <div class="row space-top" *ngIf="latest$">
            <div class="col-sm-4 extended-top" *ngFor="let bike of (latest)">
              <app-bike-card [bike]="bike"></app-bike-card>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <h3 class="extended-top">TOP RENTED</h3>
            <div class="row space-top" *ngIf="topRented$">
              <div class="col-sm-4 extended-top" *ngFor="let bike of (topRented)">
                <app-bike-card [bike]="bike"></app-bike-card>
              </div>
            </div>            
        </div>
      </div>
    </div>

    <div class="col-sm-4 extended-top">
      <div *ngIf="!isLoggedIn; else userdetails">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Sign in</b></ng-template>
            <ng-template ngbTabContent>
              <app-signin></app-signin>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Sign up</b></ng-template>
            <ng-template ngbTabContent>
              <app-signup></app-signup>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>

      <ng-template #userdetails>
          <div class="jumbotron">
              <p class="lead">Hello, <b>{{username}}</b>!</p>
              <p class="lead">It's good to see you around.</p>
              <hr class="my-4">
              <p>Just rent a bike and have fun. Find all our bike.</p>
              <p class="lead">
                <a class="btn btn-primary btn-lg" [routerLink]="['/bikes/all']" role="button">Find more</a>
              </p>
            </div>
      </ng-template>
    </div>
  </div>
</div>